<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!--namespace = Class名稱-->
<mapper namespace="com.syun.mapper.UserMapper">
  <!--id = Method名稱 resultType = Method返回的類型-->
  <select id="selectUser" resultType="user">
    select * from mybatis_user
  </select>

  <insert id="addUser" parameterType="user">
	insert into mybatis_user (id,name,pwd) values (#{id},#{name},#{pwd})
  </insert>  

  <delete id="deleteUser" parameterType="int">
	deletes from mybatis_user where id=#{id}
  </delete>

</mapper>
